.MuiAccordion-root{
    border: 1px solid $color-white;
    border-radius: 10px !important;
}

.MuiAccordionSummary-root{
    border-radius: 10px !important;
    background-color: $color-black !important;
}