.section{
    .wrapper{
        font-size: 1.4rem;
        display: flex;
        gap: 4rem;
        flex-wrap: wrap;
    }

    .toggleText{
        color: $color-primary;
        cursor: pointer;
    }
}