.MuiTab-root{
    font-size: 1.4rem !important;
    color: $color-white !important;
}

.Mui-selected{
    color: $color-primary !important;
}

.MuiTabs-indicator{
    background-color: $color-primary !important;
}